@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page*/

/*************************** Section general ***************************/
body {
   font-family: 'Syne', sans-serif;
}

main {
	display: block;
}

h1 {
   color: #3B8E46;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 38px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}

h2 {
   width: 487px;
   color: #3B8E46;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

h3 {
   color: #D2776A;
   text-align: center;
   font-family: 'Syne'!important;
   font-size: 30px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}

h4 {
   color: #3B8E46;
   text-align: center;
   font-family: 'Syne'!important;
   font-size: 30px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}

h5 {
   color: #3B8E46;
   text-align: center;
   font-family: 'Syne'!important;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

h6 {
   color: #FFF;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

p {
   color: #000;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin: 0;
}

section {
   padding: 0;
}

.wp-container-core-group-layout-1.wp-container-core-group-layout-1 {
   width: 680px;
   color: #D2776A;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 38px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
   
}

.wp-container-core-group-layout-2.wp-container-core-group-layout-2 {
   width: 669px;
   color: #000;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

/* La classe 'hover-effect' permettra de créer un effet de zoom quand l'on passera la souris par dessus les elements images enfants  */
.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}

/* HEADER */
.site-logo img {
   width: 201px;
   height: 19px;
   flex-shrink: 0;
   
}

.header-inner.section-inner {
   padding-top: 0px;
   max-width: 100%;
   margin-right: 0;
}

header.entry-header.has-text-align-center.header-footer-group {
   padding: 0px;
}
.entry-header{
   display: none;
}

/*
.section-inner {
   margin-right: 0px;
   
}*/

#site-header.sticky-top {
   position: sticky;
   flex-shrink: 0;
   top:0;
   background-color: #fff;
   height: 80px;
   margin-bottom: auto;
}

.primary-menu li.current-menu-item > a {
   text-decoration: none;
}

li.menu-item a {
   color: #313332 !important;
   display: flex;
   width: 167px;
   height: 80px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

li.menu-item a:hover {
   text-decoration: none;
}

li.btn-commander a {
   width: 236px;
   height: 80px;
   flex-shrink: 0;
   background: #DC9F96;
   color: #fff !important;
}

li.btn-commander a:hover{
   background: #C02E44;
   text-decoration: none;
}

li.menu-item-900 {
order: 3;
}

.img-commande .wp-block-cover.is-light {
   padding: 0;
}

/* FOOTER */
.footer-nav-widgets-wrapper.header-footer-group {
   margin: 0;
   height: 60px;

}

.widget.widget_block.widget_text {
   margin-top: 20px;
}
.header-footer-group pre, .header-footer-group fieldset, .header-footer-group input, .header-footer-group textarea, .header-footer-group table, .header-footer-group table *, .footer-nav-widgets-wrapper, #site-footer, .menu-modal nav *, .footer-widgets-outer-wrapper, .footer-top {
   border: none;
}

.footer-nav-widgets-wrapper {
   display: flex;
   height: 60px;
   padding: 20px 0px 21px 0px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   background-color: #fff !important;
}

.footer-widgets-outer-wrapper {
   padding: 0px;
   
}

.wp-elements-8c9dfc09581fbd9cce77b38c2d777e51 a {
   color: #000;
   justify-content: center;
   text-align: center;
   font-family: 'Syne';
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration: none;
}

#site-footer { 
   display: none;  
}

.post-meta-wrapper{
   display: none;
}

.footer-widgets {
   margin-left: auto;
   margin-right: auto;
}

/* Block: Image */
.wp-block-cover {
   color: #FFF;
   text-align: center;
   font-family: 'Syne' !important;
   /*font-size: 48px;*/
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   
}

h6.wp-block-heading.has-text-align-center.has-small-font-size{
   margin: 0!important;
}

.wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow {
   margin-bottom: -35px;
}


.command-number p {
   display: flex;
   justify-content: space-evenly;
}

.wp-block-image.alignfull.size-full.is-style-default {
   margin: 0;
}

.entry-content > .alignwide:not(.wp-block-group.has-background), .entry-content > .alignfull:not(.wp-block-group.has-background){
   margin: 0;
}

.wp-block-columns.alignfull, .alignfull:not(.has-background) .wp-block-columns {
   align-items: center;
   justify-content: center;
}

.wp-image-65 {
   width: 145px;
   height: 150px;
   flex-shrink: 0;
   position: relative;
   bottom: 25px;
   left: 55px;
}

/*
.wp-image-69 {
   width: 193px;
   height: 128px;
   flex-shrink: 0;
}

.wp-image-64 {
   width: 193px;
   height: 128px;
   flex-shrink: 0;
}

.wp-image-61 {
   width: 193px;
   height: 128px;
   flex-shrink: 0;
}

.wp-image-63 {
   width: 193px;
   height: 128px;
   flex-shrink: 0;
}

/*************************** PAGE Acceuil ***************************/
/* Couleur d'arrière plan page d'accueil */
.page-id-42 {
   background: #ECE2DA;
}

/* Block: boisson énergisante */
section.wp-block-group.alignfull.bloc-boisson-energisante.has-background.is-layout-constrained.wp-block-group-is-layout-constrained {
   padding-bottom: 0px;
}

.bloc-boisson-energisante .wp-block-image {
   margin-bottom: -10%!important;
}

/* Block: parfum */
h3.wp-block-heading.alignfull.has-text-align-center.has-background {
   margin: 0;
   padding-top: 0;
   padding-bottom: 7px;
}

/* Block: fruits */
.wp-block-cover.bloc-image-fruit {
   width: 393px !important;
   height: 262px;
   flex-shrink: 0;
}

h6.wp-block-heading.has-text-align-center.bloc-image-fruit-name {
   color: #FFF;
   text-align: center;
   font-family: 'Syne';
   font-size: 46px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

h6.wp-block-heading.has-text-align-center.bloc-image-fruit-name-pample-mousse {
   width: 358px !important;
   height: 116px;
   margin: 0 !important;
   padding: 0;
   font-size: 46px;

}

.fruit-box .wp-block-column.is-vertically-aligned-center.is-layout-flow.wp-block-column-is-layout-flow {
   margin-bottom: 0;
}

/* Block: Button */
.wp-block-button a {
   display: flex;
   height: 55px;
   padding: 9px 57px 9px 56px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   text-align: center;
   font-family: 'Syne' !important;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 37px; /* 246.667% */
   border-radius: 5px;
   background: #E0B9B4;
   margin-top: 47px;
}

.wp-block-button a:hover {
   background:#C02E44 !important;
   text-decoration: none !important;
}


/* Block: Perso */
.bloc-image-perso {
   width: 343px;
   height: 139px;
   top: 2465px;
   left: 960px;
}

.bloc-image-perso-name {
   color: #3B8E46;
   font-family: 'Syne' !important;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   top: 2483px; 
}

h5.wp-block-heading.has-text-align-left.bloc-image-perso-name {
   margin-bottom: 0;
}

.bloc-image-perso-p {
   width: 196px;
   height: 57px;
   color: #000;
   font-family: 'Syne' !important;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   top: 2530px;
}

.wp-block-group.bloc-image-perso-p.is-layout-constrained.wp-block-group-is-layout-constrained {
   margin-top: 11px;
}

.wp-block-media-text .wp-block-media-text__content {
   margin: 0;
   padding: 0 0 0 30px;
}

.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
    width:100%;
}


/*************************** PAGE Nous rencontrer ***************************/
/* Couleur d'arrière plan page nous rencontrer */
.page-id-44 {
   background: #ECE2DA;
}

/* image */
.img-flower {
   height: 0px;
   margin: 0;
}

/* Block: team*/
h2.wp-block-heading.has-text-align-center.has-primary-color.has-text-color.has-link-color.wp-elements-48ea0772b2bf2d9f5ed2c1a8f9d90328{
margin-top: 0;
margin-bottom: 52px;
}

.bloc-team {
   margin-bottom: -9rem;
}

.bloc-team-name {
   color: #000;
   text-align: center;
   font-family: 'Syne';
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin: -0.5rem 0 0rem !important;
}

.bloc-team-p {
   color: #000;
   text-align: center;
   font-family: 'Syne';
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

/* image branche */
.wp-image-164 {
   width: 191px;
   height: 219px;
   flex-shrink: 0;
   position: relative;
   bottom: 150px;
   right: 5%;
   margin: 0px;
   left: 110%;
}

/* Block: Forms*/
#wpforms-submit-344 {
   display: none;
}

#wpforms-submit-366 {
   display: none;
}

.wpforms-field-label {
   font-family: 'Syne' !important;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

#wpforms-172-field_0 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-172-field_1 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-172-field_2 {
   width: 383px;
   height: 237px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

.wpforms-container .wpforms-submit-container {
   padding: 15px 0px 0px 100px;
}

#wpforms-submit-172 {
   display: flex;
   width: 198px;
   height: 55px;
   padding: 9px 0px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   background: #E0B9B4;
   font-family: 'Syne' !important;
}

#wpforms-submit-172:hover {
   background: #C02E44;
}

#wpforms-382-field_1 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-382-field_2 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-382-field_3 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-382-field_4 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-382-field_5 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpforms-382-field_6 {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

#wpformssubmit-382 {
   display: flex;
   width: 198px;
   height: 55px;
   padding: 9px 57px 9px 56px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   background: #E0B9B4;
   font-family: 'Syne' !important;
}

.wpforms-container .wpforms-field{
   width: fit-content;
}
.wpforms-container .wpforms-form *{
   width: fit-content;
   z-index: 5;
}
.wpforms-render-modern{
   display: flex;
   justify-content: center;
}

/* image formulaire */
.img-left-form {
   height: 134px;
   position: relative;
   bottom: 255px;
   left: 320px;
   z-index: 1;
}

/*************************** PAGE Commander ***************************/
/* Couleur d'arrière plan page commander */
.page-id-48 {
   background: #3B8E46;
}

/* votre commande */
.your-order {
   width: 290px !important;
   height: 36px;
   color: #FFF;
   font-family: 'Syne' !important;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-left: 140px !important;
   margin-bottom: 0 !important;
   margin-top: 0 !important;
}

/* Block: Parfum images */
.fruits {
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   width: 860px;
   padding: 0 !important;
}

/* image */
.aroma {
 width: 192px;
 height: 128px;
}

/* Block: Separator */
hr.wp-block-separator {
   max-width: var(--wp--style--global--content-size);
   width: 860px !important;
   height: 1px;
   color: #FFF;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 0;
}

.entry-content hr, hr.styled-separator {
   background-color: #FFF !important;
}

hr.wp-block-separator::after {
   display: none;
}

hr.wp-block-separator::before {
   display: none;
}

/* formulaire de commande */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wpcf7-form-control.wpcf7-text {
   width: 383px;
   height: 71px;
   flex-shrink: 0;
   border-radius: 7px;
   background: #FFF;
   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
   display: flex;
   width: 198px;
   height: 55px;
   padding: 9px 57px 9px 56px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   background: #E0B9B4;
   color: #FFF;
   font-family: 'syne';
   text-transform: none;
   margin-left: auto;
   margin-right: auto;
   margin-top: 44px;
   margin-bottom: 93px;
}

.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
   background: #C02E44 !important;
   text-decoration: none !important;
}

.command-number p{
   display: flex;
   justify-content: space-evenly;
}

.row{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.row label {
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
}
.row h2{
   /* width: fit-content; */
   padding-left: 50px;
}

.row span.label-input {
   margin-bottom: 5px;
   display: inline-block;
}

.vertical-line {
   width: 1px;
   background-color: white;
   padding-bottom: 0px;
   margin-bottom: 0;
   margin-top: 75px;
}

label {
   color: #FFF;
   font-family: 'Syne';
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: left;
}

.wpcf7-form-control.wpcf7-number {
   width: 40px;
   height: 56px;
   flex-shrink: 0;
   padding: 1.5rem 1.5rem;
}

input[type="number"] {
   color: #000;
   font-family: 'Inter';
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

/*************************** Section responsive ***************************/
/* Custom size */
@media only screen and (max-device-width : 703px) {
   /* Styles */
   .wp-block-cover.aligncenter.is-light {
      margin-bottom: 45px;
  }
}

/* Under 541px */
@media only screen and (max-device-width : 541px) {
   .bloc-image-perso {
      display: flex;
      justify-content: center;
      
   }
}

/* Under 899px */
@media only screen and (max-device-width : 899px) {
   .header-inner.section-inner {
      padding-top: 38px;
}

}

/* Under 900px */
@media only screen and (max-device-width : 900px) {
   .bloc-team {
      gap: 0;
      margin-bottom: 10px;
   }

   hr.wp-block-separator {
      display: none;
   }

   .wpcf7-form.init {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
   }
}

/* Under 1003px */
@media only screen and (max-device-width : 1003px) {
   .vertical-line {
      display: none;
   }
}


/* Under 1024px */
@media only screen and (max-device-width : 1024px) {
   /* Styles */
   .wp-image-65 {
      display: none;
   }
}

/* Under 1200px */
@media screen and (max-device-width : 1200px) {
   .wp-container-core-columns-layout-1.wp-container-core-columns-layout-1 {
      flex-direction: column;
   }

   .wp-image-164 {
      display: none;
   }

   .wp-container-core-columns-layout-3.wp-container-core-columns-layout-3 {
      flex-direction: column;
   }

   .wp-container-core-columns-layout-4.wp-container-core-columns-layout-4 {
      flex-direction: column;
      align-items: center !important;
   }

   .img-left-form {
      display: none;
   }

   .your-order {
      margin-left: auto !important;
      margin-right: auto !important;
      display: flex;
      justify-content: center;
   }

}

